    <header [ngClass]="{ 'header-scrolled': isScrolled }">
      <div class="navigation">
        <a href="#about" id="aboutNav" class="nav">Sobre mi</a>
        <a href="#skills" id="skillsNav" class="nav">Skills</a>
        <a href="#projects" class="nav">Proyectos</a>
      </div>
      <div class="links">
        <a href="https://github.com/BrayanIgl2" target="_blank">
          <img src="./assets/icons/github.svg" class="social-icon" alt="GitHub">
        </a>
        <a
          href="https://www.linkedin.com/in/brayan-iglesias-970183357"
          target="_blank"
        >
          <img src="./assets/icons/linkedin.svg" class="social-icon" alt="LinkedIn">
        </a>
      </div>
    </header>