.about p {
  margin-bottom: 1rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #ffffff;
}

@media (min-width: 768px) {
  .about p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .about p {
    font-size: 1.8rem;
  }
}